<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnSs9KJsgmOZhJUqr9iQMGdlofd3k7sEc</string>
	<key>GCM_SENDER_ID</key>
	<string>900022792240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.summarizeIt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>summarize-it-afea9</string>
	<key>STORAGE_BUCKET</key>
	<string>summarize-it-afea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900022792240:ios:8fb6d44501b94ccc9efdf5</string>
</dict>
</plist>